/coverage-error.log
/tomcat
/target
/.idea/*
/.sonar
/.mvn
*.iml
*.class
*.classpath
.project
.settings
/.clover
/.metadata
*/org.eclipse.e4.workbench
/build
/test-output
*.log
.DS_Store
*.bak
*.orig
*.swp
